<div class="mb-4"></div>
<div class="backLink col-sm-12 col-lg-8"><a [routerLink]="['/inicio']">Inicio</a></div>
<div class="errorContainer col-sm-12 col-lg-8">
	<h2 class="formTitle mb-4">Página no encontrada</h2>
	<img class="col-sm-12 col-xl-9" src="assets/images/error404.jpg" alt="Error 404" title="Error 404" usemap="#404Image">
	<a href="https://www.freepik.es/fotos-vectores-gratis/negocios" class="freepikLink col-sm-4 col-xl-3" title="Vector de Negocios creado por pikisuperstar - www.freepik.es" alt="Vector de Negocios creado por pikisuperstar - www.freepik.es"></a>
</div>

