<div class="col col-sm-12" *ngIf="!user && !roles && !responseMessage">
	<div id="preloaderSerpiente">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
	</div>
</div>
<div class="col col-sm-12 col-lg-8 mt-4" style="margin: auto;" [ngClass]="{'successMessage':status=='success', 'errorMessage':status=='error'}" *ngIf="(status=='error' || status=='success') && responseMessage">
	<span>{{ responseMessage }}</span><br/>
	<span *ngIf="validationMessage">{{ validationMessage }}</span>
</div>
<div class="mb-4" *ngIf="!user"></div>
<div class="backLink col-sm-12 col-lg-8" *ngIf="user && roles"><a href="javascript:history.back()">Regresar</a></div>
<div class="formContainer col-sm-12 col-lg-8" *ngIf="user && roles">
	<h2 class="formTitle mb-4">{{ page_title }}</h2>
	<form #userForm="ngForm" class="form-container" (ngSubmit)="onSubmit(userForm)">
		<div class="form-group">
			<div class="col-sm-12 col-md-12 col-lg-6 d-inline-block">
				<label for="name" class="labelForm">Nombres*</label>
				<input type="text" name="name" id="name" class="form-control inputForm" [ngClass]="{'is-invalid': name.invalid && name.touched}" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" placeholder="Ingrese los nombres del usuario">
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 d-inline-block">
				<label for="surname" class="labelForm">Apellidos*</label>
				<input type="text" name="surname" id="surname" class="form-control inputForm" [ngClass]="{'is-invalid': surname.invalid && surname.touched}" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" placeholder="Ingrese los apellidos del usuario">
			</div>
			<small class="invalid-feedback d-block col col-sm-12" *ngIf="name.invalid && name.touched">Debe ingresar correctamente los nombres del usuario. Solo se admiten letras en el campo</small>
			<small class="invalid-feedback d-block col col-sm-12" *ngIf="surname.invalid && surname.touched">Debe ingresar correctamente los apellidos del usuario. Solo se admiten letras en el campo</small>
		</div>
		<div class="form-group">
			<div class="col-sm-12 col-md-12 col-lg-6 d-inline-block">
				<label for="email" class="labelForm">Email*</label>
				<input type="email" name="email" id="email" class="form-control inputForm" [ngClass]="{'is-invalid': email.invalid && email.touched}" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Ingrese el correo del usuario">
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 d-inline-block">
				<label for="alias" class="labelForm">Alias*</label>
				<input type="text" name="alias" id="alias" class="form-control inputForm" [ngClass]="{'is-invalid': alias.invalid && alias.touched}" #alias="ngModel" [(ngModel)]="user.alias" required placeholder="Ingrese un alias para el ingreso">
			</div>
			<small class="invalid-feedback d-block col col-sm-12" *ngIf="email.invalid && email.touched">Debe ingresar un correo válido</small>
			<small class="invalid-feedback d-block col col-sm-12" *ngIf="alias.invalid && alias.touched">Debe ingresar un alias de usuario válido</small>
		</div>
		<div class="form-group col col-sm-12">
			<label for="role" class="labelForm">Role*</label>
			<select style="background-position-x: 96%" name="role" id="role" class="form-control inputForm" [ngClass]="{'is-invalid': role.invalid && role.touched}" #role="ngModel" [(ngModel)]="user.role" required>
				<option *ngFor="let role of roles" value="{{ role.value }}">{{ role.name }}</option>
			</select>
			<small class="invalid-feedback d-block" *ngIf="role.invalid && role.touched">Debe seleccionar un rol de la lista desplegable</small>
		</div>
		<div class="form-group col col-sm-12">
			<small><a [routerLink]="['/editar-password-usuario/', user.id]">Actualizar Contraseña</a></small>
		</div>

		<div class="buttonSubmit col-sm-12">
			<input type="submit" value="Actualizar Usuario" class="btn btn-success btnPrefer col-sm-12 col-md-8 col-lg-6" [disabled]="userForm.invalid">
		</div>
		<div id="preloaderDisco" *ngIf="preloader2Status"></div>
		<div class="col col-sm-12 info">
			<small>Los campos marcados con * son obligatorios</small>
		</div>
	</form>
</div>
