<div class="col col-sm-12" *ngIf="!locations && !responseMessage">
	<div id="preloaderSerpiente">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
	</div>
</div>
<div class="col col-sm-12 mt-4" [ngClass]="{'successMessage':status=='success', 'errorMessage':status=='error'}" *ngIf="(status=='error' || status=='success') && responseMessage">
	<span>{{ responseMessage }}</span><br/>
	<span *ngIf="validationMessage">{{ validationMessage }}</span>
</div>
<div class="mb-4" *ngIf="!locations"></div>
<div class="importantInformation d-block animated flash delay-1s" *ngIf="locations">
	<h3>Información Importante</h3>
	<p class="informationText">La Subred Integrada de Servicios de Salud Sur E.S.E. se permite informar, que atendiendo las recomendaciones establecidas por el Ministerio de Salud, Alcaldía Mayor de Bogotá y la Veeduría Distrital, que buscan disminuir el número de reuniones y concentraciones presenciales para mitigar el riesgo de contagio de enfermedades respiratorias y Covid-19, el ejercicio de Rendición de Cuentas de la institución que se llevaría a cabo el día viernes 13 de marzo, será aplazado para el día 19 de marzo a las 10:00 am y se realizará de forma virtual a través de las siguientes formas digitales:</p>
	<ul class="informationList">
		<li><a href="https://www.facebook.com/subredsursalud" target="_blank" class="facebook">Facebook: Subred Integrada de Servicios de Salud Sur</a></li>
		<li><a href="https://twitter.com/SubRedSur" target="_blank" class="twitter">Twitter: @subredsursalud</a></li>
	</ul>
	<p class="informationText">A partir de la fecha, puede dejarnos sus preguntas en el formulario que encontrará a continuación las cuales será respondidas en los tiempos establecidos para un derecho de petición.</p>
</div>
<div class="backLink" *ngIf="locations"><a href="javascript:history.back()">Regresar</a></div>
<div class="formContainer" *ngIf="locations">
	<app-suggestions-model (sendFlagWithInfo)="onSubmit($event)"
						   [suggestions]="this.suggestion"
						   [locations]="this.locations"
						   [needCaptcha]="this.needCaptcha"
						   [needButtonSubmit]="this.needButtonSubmit"
						   [isInputDisabled]="this.isInputDisabled"
						   [preloader2Status]="this.preloader2Status">
	</app-suggestions-model>
</div>
