<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reporte de Sucesos Seguridad del Paciente</title>
</head>
<body>
	<div class="containerAll">
		<div class="topBanner">
			<div class="titleContainer">
				<div class="headerImage col col-sm-12 col-md-4 d-inline-block animated fadeInLeft">
					<img class="col-sm-12 col-xl-9" src="assets/images/logoSubred.png" alt="Subred Integrada de Servicios de Salud Sur Logo" title="Subred Integrada de Servicios de Salud Sur Logo">
				</div>
				<div class="principalTitle col col-sm-12 col-md-8 d-inline-block animated fadeInLeft delay-05s">
					<span class="">Reporte de Sucesos Seguridad del Paciente</span>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-light navbarRendicion" *ngIf="identity">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRendicion" aria-controls="navbarRendicion" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarRendicion">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#" [routerLink]="['/reportes/listar']" [routerLinkActive]="'activeNavbar'">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownRendicion1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Reportes
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownRendicion1">
							<a class="dropdown-item" [routerLink]="['/reportes/listar']" [routerLinkActive]="['active']">Listar Reportes</a>
						</div>
					</li>	
				</ul>
				<ul class="navbar-nav my-2 my-lg-0 menuUser">
					<li class="nav-item dropdown" *ngIf="identity.name">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownRendicion2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ identity.name }}
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownRendicion2" *ngIf="identity.role == 'ADMIN_ROLE'">
							<a class="dropdown-item" [routerLink]="['/admin/usuarios/listar']">Listar Usuarios</a>
							<a class="dropdown-item" [routerLink]="['/admin/usuarios/registrar']">Agregar Usuarios</a>
							<a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar Sesión</a>
						</div>
						<div class="dropdown-menu" aria-labelledby="dropdownRendicion2" *ngIf="identity.role != 'ADMIN_ROLE'">
							<a class="dropdown-item" [routerLink]="['/admin/usuarios/editar', identity.sub]">Cambiar Contraseña</a>
							<a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar Sesión</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container animated fadeIn delay-05s" style="animation-fill-mode: unset;">
			<router-outlet></router-outlet>
		</div>
		<div class="footer" style="bottom: 0">
			<span class="d-block animated fadeIn">Copyright© 2020</span>
			<span class="d-block animated fadeIn delay-05s">Subred Integrada de Servicios de Salud Sur E.S.E.</span>
			<span class="d-block animated fadeIn delay-1s">Todos los derechos reservados</span>
		</div>
	</div>
</body>
</html>