<form #locationForm="ngForm" class="form-container" (ngSubmit)="onSubmit(locationForm)">
	<div class="form-group col col-sm-12">
		<label for="name" class="labelForm">Nombre de la localidad*</label>
		<input type="text" name="name" id="name" class="form-control inputForm" [ngClass]="{'is-invalid': name.invalid && name.touched}" #name="ngModel" [(ngModel)]="location.name" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" placeholder="Ingrese el nombre de la localidad">
		<small class="invalid-feedback d-block" *ngIf="name.invalid && name.touched">Debe ingresar una localidad válida. Solo se admiten letras en el campo</small>
	</div>

	<div class="buttonSubmit col-sm-12">
		<input type="submit" value="{{ buttonText }}" class="btn btn-success btnPrefer col-sm-12 col-md-8 col-lg-6" [disabled]="locationForm.invalid">
	</div>
	<div id="preloaderDisco" *ngIf="preloader2Status"></div>
	<div class="col col-sm-12 info">
		<small>Los campos marcados con * son obligatorios</small>
	</div>
</form>
