<div class="col col-sm-12" *ngIf="!suggestion && !responseMessage">
	<div id="preloaderSerpiente">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
	</div>
</div>
<div class="col col-sm-12 mt-4" [ngClass]="{'successMessage':status=='success', 'errorMessage':status=='error'}" *ngIf="(status=='error' || status=='success') && responseMessage">
	<span>{{ responseMessage }}</span><br/>
</div>
<div class="mb-4" *ngIf="!suggestion"></div>
<div class="backLink" *ngIf="suggestion"><a href="javascript:history.back()">Regresar</a></div>
<div class="formContainer" *ngIf="suggestion">
	<h2 class="formTitle">{{ page_title }}</h2>
	<app-suggestions-model [suggestions]="this.suggestion"
						   [locations]="this.locations"
						   [needCaptcha]="this.needCaptcha"
						   [needButtonSubmit]="this.needButtonSubmit"
						   [isInputDisabled]="this.isInputDisabled"
						   [preloader2Status]="this.preloader2Status">
	</app-suggestions-model>
</div>

